---
layout: null
---

<head>
  <link rel="stylesheet" href="style.css">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>

  <div class = "sections" id="grad1">
    <b class = "name">AlyBaracat</b>
    <a href="https://www.dropbox.com/s/mk45pjta7jvwc9p/Aley%20Baracat%20Resume.pdf?dl=0" target="_blank" rel="external nofollow" class="section">RESUME</a>
    <a href = "#parent" class="section" >PROJECTS</a>
    <a href = "#parent1" class="section">ABOUT</a>
  </div>


<div class = "subtitle"><h2><span>ABOUT</span></h2></div>

<ul>
<li id="parent1">

      <div class = "leftside">
        <img class="pieceicon" src="boattech.png" alt="Boattech">
      </div>
      <div class = "rightside">
        <div class="date"></div>
        <div class="piecetitle">WHO AM I?</div>
        <div class="piecedescription">
          I am a young graphic designer and  computer engineer experienced in creating user-facing products. I am also passionate about music and art.
        </div>
        <div class="iterations"></div>
        <div class= "links">
          <a href="https://www.behance.net/alybaracat"><img class="behancelink" src="assets/behance.png" alt="behance"></a>
          <a href="https://github.com/alybaracat"><img class="githublink" src="assets/github.png" alt="github"></a>
          <a href="https://eg.linkedin.com/in/aly-baracat-9113a1123"><img class="linkedin" src="assets/linkedin.png" alt="linkedin"></a>
          <a href="https://www.youtube.com/channel/UCrOBzpIrcrV_XnnnjpcjhfA"><img class="youtubelink" src="assets/youtube.png" alt="youtube"></a>

        </div>
      </div>


</li></ul>
<!--
  <div class ="description">
    <t1>WHO</t1>
    <t2>AM I?</t2>
    <p> I am a double major student in computer engineering and
      graphic design. I like to design &amp; develop userfacing products
      inculding apps, games, posters, corporate identity and music
    </p>
    <div class="block_1"></div> <hr />
  </div>-->
  <div class = "subtitle">
    <h2><span>PROJECTS</span></h2>
  </div>
<div class = "subfields">
  <div class = "fields">
    <button class="btn" id="DSGN">DESIGN</button>
    <button class="btn" id="CS">CS</button>
    <button class="btn" id="MS">MUSIC</button>
    <button class="active btn" id="all">ALL</button>
  </div>
</div>
  <div class="spacer"></div>


  <ul id="parent">
    {% for app in site.data.apps %}

    <li class = "card {{app.field}}">
      <div >
        <div class = "leftside">
          <img class="pieceicon" src="{{app.icon}}" alt="LostInside">
        </div>
        <div class = "rightside">
          <div class="date">{{app.date}}</div>
          <div class="piecetitle">    {{ app.name }}</div>
          <div class="piecedescription">
            {{ app.description }}
          </div>
            {% if app.NumberOfIterations %}<div class="iterations">- {{app.NumberOfIterations}} variations -</div>{% endif %}
            <div class = "links" >
            {% if app.behanceurl %}  <a href="{{ app.behanceurl }}" >
                <img class="behancelink" src="assets/behance.png" alt="behance"></a> {% endif %}
            {% if app.githuburl %}   <a href="{{ app.githuburl }}">
              <img class="githublink" src="assets/github.png" alt="github"></a>{% endif %}
              {% if app.loudrurl %}   <a href="{{ app.loudrurl }}">
              <img class="loudr" src="assets/loudr.png" alt="loudr"></a>{% endif %}
              {% if app.wUrl %}   <a href="{{ app.wUrl }}">
              <img class="appstore" src="assets/appstore.png" alt="appstore"></a>{% endif %}
              {% if app.newsurl %}   <a href="{{ app.wUrl }}" class = "newslink" >
              Check {{app.name}} review here</a>{% endif %}
        </div>
      </div>
    </li>
    {% endfor %}

  </ul>


  <script src="script.js">
  </script>
  <script>

  $(document).ready(function(){
    // Add smooth scrolling to all links
    $("a").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {
        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 800, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  });

  </script>


</body>
